body {
  background-image: url('assets/background.jpg');
  font-family: 'Open Sans';
  font-size: 22px;
}
p,
h3 {
  color: white;
}

.satu {
  background-color: #ebba4a;
  opacity: 77%;
  text-align: center;
}
.dua {
  background-color: #e8a03e;
  opacity: 77%;
  text-align: center;
}
.tiga {
  background-color: #5ac6fa;
  opacity: 77%;
  text-align: center;
}
.empat {
  background-color: #459ce3;
  opacity: 77%;
  text-align: center;
}
.lima {
  background-color: #e3634d;
  opacity: 77%;
  text-align: center;
}
svg {
  height: 100px;
  width: 100px;
}

@media (min-width: 768px) {
  body {
    font-size: 12px;
  }
  #notif {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 1378px;
    top: 120px;
  }
  .layer2 {
    height: 100%;
    position: static;
    z-index: -1;
  }
  .chrome {
    margin-left: 250px;
    margin-top: 390px;
    text-align: center;
  }
  .mozila {
    margin-top: 390px;
    text-align: center;
  }
  .edge {
    margin-top: 390px;
    text-align: center;
  }
  .safari {
    margin-top: 390px;
    text-align: center;
  }
  .opera {
    margin-right: 250px;
    margin-top: 390px;
    text-align: center;
  }
}
